.services {
  font-size: 1rem;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-top: 3em;
  padding: 0;
  list-style: none;
}

.services__item {
  margin-bottom: 20px;
  width: 32.5em;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.55);
  transition: all ease 0.3s;
}

.services__item:hover {
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.55);
}

.services__link {
  display: block;
}

.services__link figure {
  margin: 0;
}

.services__frame {
  width: 32.5em;
  height: 18.8em;
  overflow: hidden;
}

.services__img {
  object-fit: cover;
}

.services__link figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  font-family: $font-family__main;
  font-size: 2.5em;
  font-weight: 700;
  line-height: normal;
  color: $font-color__darkest;
  text-align: center;
}

@media (max-width: $width__tablet-max) {
  .services__list {
    justify-content: space-around;
  }

  .services__item {
    margin: 0 5px 20px 5px;
  }
}

@media (max-width: $width__mobile-max) {
  .services {
    font-size: 0.8rem;
  }

  .services__frame {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
