.pricelist {
  font-family: 1rem;
}

.pricelist > .container {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pricelist__heading {
  margin: 0;
  font-family: $font-family__main;
  font-size: 5em;
  font-weight: 900;
  color: $font-color__darker2;
  text-align: center;
  text-transform: uppercase;
}

.pricelist__table {
  margin-top: 5em;
  width: 100%;
  border-collapse: collapse;
}

.pricelist__headings,
.pricelist__prices {
  box-shadow: 0 0 1em 0 rgba(35, 31, 32, 0.5);
}

.pricelist__headings th {
  padding-top: calc(1.8em / 1.8);
  padding-bottom: calc(1.8em / 1.8);
  font-family: $font-family__main;
  font-size: 1.8em;
  font-weight: 900;
  color: $font-color__darker3;
}

.pricelist__headings th:not(:first-of-type) {
  width: calc(15em / 1.8);
  border-left: 1px solid rgba(1, 104, 105, 0.2);
}

.pricelist__headings th:first-of-type {
  padding-left: calc(3em / 1.8);
  text-align: left;
}

.pricelist__row td {
  padding-top: calc(3em / 1.6);
  padding-bottom: calc(3em / 1.6);
}

.pricelist__row td:first-of-type {
  padding-left: calc(3em / 1.4);
  padding-right: calc(5em / 1.4);
  font-family: $font-family__main;
  font-size: 1.4em;
  font-weight: 400;
  color: $font-color__darker3;
}

.pricelist__row td:not(:first-of-type) {
  border-left: 1px solid rgba(1, 104, 105, 0.2);
}

.pricelist__cell--checked {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 2.5em / 2);
    left: calc(50% - 2.5em / 2);
    width: 2.5em;
    height: 2.5em;
    background-image: url("../img/approve-circular-button.svg");
    background-size: cover;
  }
}

.pricelist__prices td:not(:first-of-type) {
  padding-top: calc(1.8em / 1.8);
  padding-bottom: calc(1.8em / 1.8);
  font-family: $font-family__main;
  font-size: 1.8em;
  font-weight: 900;
  color: $font-color__highlight--dark;
  text-align: center;
  border-left: 1px solid rgba(1, 104, 105, 0.2);
}

@media (max-width: $width__tablet-max) {
  .pricelist {
    font-size: 0.8rem;
  }
}

@media (max-width: $width__mobile-max) {
  .pricelist {
    font-size: 0.5rem;
  }
}
