.sequence {
  font-size: 1rem;
}

.sequence > .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5em;
  padding-bottom: 5em;
}

.sequence__heading {
  margin: 0;
  width: 100%;
  font-family: $font-family__main;
  font-size: 5em;
  font-weight: 900;
  color: $font-color__darker2;
  text-align: center;
  text-transform: uppercase;
}

.sequence__trigger {
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  opacity: 0;
  pointer-events: none;
}

.sequence__trigger + label {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  padding: 2em;
  width: 20em;
  min-height: 15em;
  font-family: $font-family__main;
  color: $font-color__darker3;
  cursor: pointer;
  transition-duration: 0.3s;

  &:hover {
    background-color: rgba(1, 104, 105, 0.1);
  }

  .sequence__stage {
    display: block;
    margin-bottom: 2em;
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.25;
    text-transform: uppercase;
  }

  .sequence__time {
    display: block;
    margin-top: auto;
    font-size: 1.4em;
    font-weight: 300;
    line-height: normal;
  }
}

.sequence__trigger:checked + label {
  color: $font-color__light;
  background-color: $font-color__dark;
  pointer-events: none;
}

.sequence__content {
  display: none;
  width: 100%;
}

@for $i from 1 through 20 {
  .sequence__trigger--#{$i}:checked ~ .sequence__content--#{$i} {
    display: block;
  }
}

@media (max-width: $width__tablet-max) {
  .sequence {
    font-size: 0.8rem;
  }
}

@media (max-width: $width__mobile-max) {
  .sequence {
    font-size: 0.6rem;
  }
}
