.textblock {
  font-size: 1rem;
}

.textblock > .container {
  padding-top: 5em;
  padding-bottom: 5em;
}

.textblock__heading {
  margin: 0;
  font-family: $font-family__main;
  font-size: 5em;
  font-weight: 900;
  color: $font-color__darker2;
  text-align: center;
  text-transform: uppercase;
}

.textblock__descriptor {
  margin: 0;
  font-family: $font-family__main;
  font-size: 1.8em;
  font-weight: 300;
  line-height: 140%;
  color: $font-color__darker3;

  &:first-of-type {
    margin-top: 2em;
  }

  &:not(:first-of-type) {
    margin-top: 1em;
  }
}

@media (max-width: $width__tablet-max) {
  .textblock {
    font-size: 0.8rem;
  }
}

@media (max-width: $width__mobile-max) {
  .textblock {
    font-size: 0.7rem;
  }
}
