.blogz {
  padding-bottom: 5em;
  font-family: $font-family__main;
  font-size: 1rem;
}

.blogz__heading {
  font-size: 2.5em;
  font-weight: 900;
  line-height: normal;
  color: $font-color__darker3;
  text-align: center;
  text-transform: uppercase;
}

.blogz__criteria {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.blogz__sort {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: $font-family__icons;
  font-size: 25px;
}

.blogz__sort:not(:last-of-type) {
  margin-right: 50px;
}

.blogz__sort--pop {
  color: $font-color__dark;
}

.blogz__sort--rate {
  color: $font-color__highlight--dark;
}

.blogz__btn {
  position: relative;
  width: 20px;
  height: 10px;
  font-size: 0;
  background-color: transparent;
  border: none;
}

.blogz__btn--down {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 10px solid $background__darkest;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.blogz__btn--up {
  margin-right: 10px;
  margin-left: 10px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 10px solid $background__darkest;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.blogz__sort--pop .blogz__btn:hover {
  &::before {
    border-top-color: $background__darker;
    border-bottom-color: $background__darker;
  }
}

.blogz__sort--rate .blogz__btn:hover {
  &::before {
    border-top-color: $background__highlight;
    border-bottom-color: $background__highlight;
  }
}

.blogz__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.blogz__item {
  margin-bottom: 3em;
  min-height: 40em;
}

.blogz__item:not(:nth-of-type(3n)) {
  margin-right: 5em;
}

.blogz__item--regular {
  width: 30em;
  background-color: $background__filter-item;
}

.blogz__item--regular .blogz__link:hover {
  box-shadow: 0 0 15px 0 $shadow__main;
}

.blogz__item--regular .blogz__link:hover .blogz__title {
  color: $font-color__dark;
}

.blogz__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  height: 100%;
  color: $font-color__darker3;
  box-shadow: 0 0 5px 0 $shadow__main;
}

.blogz__item:not(.blogz__item--image) .blogz__link {
  padding: 1.5em;
}

.blogz__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5em;
}

.blogz__author {
  margin: 0;
  margin-bottom: 0.3em;
  font-size: 2em;
  font-weight: 700;
  line-height: normal;
  color: $font-color__dark;
}

.blogz__date {
  display: block;
  padding: calc(1em / 1.2) 0;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  line-height: normal;
  vertical-align: baseline;
  opacity: 0.5;
}

.blogz__theme {
  display: block;
  padding: calc(0.5em / 1.2) calc(0.8em / 1.2);
  font-size: 1.2em;
  font-weight: 500;
  line-height: normal;
  border: 1px solid $font-color__darker3;
  border-radius: 15px;
  opacity: 0.5;
}

.blogz__info {
  margin-top: 1em;
  width: 100%;
}

.blogz__metrics {
  display: flex;
  align-items: center;
  font-family: $font-family__icons;
  font-size: 1.4em;
}

.blogz__metrics--like {
  margin-top: calc(0.5em / 1.4);
  color: $background__highlight;
}

.blogz__counter {
  margin-left: calc(0.5em / 1.4);
  font-family: $font-family__main;
  color: $font-color__darker3;
}

.blogz__title {
  margin: 1.5em 0 0.5em 0;
  font-size: 2em;
}

.blogz__preview {
  margin: 0;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 150%;
}

.blogz__item--dark {
  background-color: $background__dark;
}

.blogz__item--dark * {
  color: $font-color__light;
  opacity: 1;
  border-color: $border__light;
}

.blogz__item--dark .blogz__link {
  box-shadow: 0 0 5px 0 $shadow__blog--dark;
}

.blogz__item--dark .blogz__link:hover {
  box-shadow: 0 0 15px 2px $shadow__blog--dark;
}

.blogz__item--dark .blogz__link:hover .blogz__title {
  color: $font-color__highlight;
}

.blogz__img {
  margin-bottom: 2em;
  width: 100%;
  height: 20em;
  object-fit: cover;
}

.blogz__item--image .blogz__date,
.blogz__item--image .blogz__theme {
  opacity: 0.8;
}

@media (max-width: $width__tablet-max) {
  .blogz__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blogz__item {
    margin-left: 1em;
    margin-right: 1em;
  }

  .blogz__item:not(:nth-of-type(3n)) {
    margin-right: 0;
  }
}

@media (max-width: $width__mobile-max) {
  .blogz {
    font-size: 0.8rem;
  }

  .blogz__item {
    margin-left: 0.2em;
    margin-right: 0.2em;
  }
}
