.cities__link {
  padding-left: 4em;
  line-height: 4em;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.2);
  }
}

.cities__item--1 .cities__link {
  &::before {
    width: 42px;
    height: 52px;
    background-image: url("../img/cities__item-logo--1.png");
  }
}

.cities__item--2 .cities__link {
  &::before {
    width: 42px;
    height: 52px;
    background-image: url("../img/cities__item-logo--2.png");
  }
}

.cities__item--3 .cities__link {
  &::before {
    width: 41px;
    height: 51px;
    background-image: url("../img/cities__item-logo--3.png");
  }
}

.cities__item--4 .cities__link {
  &::before {
    width: 42px;
    height: 42px;
    background-image: url("../img/cities__item-logo--4.png");
  }
}

.cities__item--5 .cities__link {
  &::before {
    width: 42px;
    height: 42px;
    background-image: url("../img/cities__item-logo--5.png");
  }
}

.cities__link:hover {
  color: $font-color__light;
  background-color: $background__dark;

  &::before {
    filter: none;
  }
}
