@keyframes openModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  padding: 5em 0;
  width: 100vw;
  height: calc(100%);
  font-family: $font-family__main;
  font-size: 1rem;
  background-color: $background__modal;
  opacity: 0;
  overflow-y: auto;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  animation-name: closeModal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  z-index: 5;
}

.modal-open {
  display: block;
  animation-name: openModal;
}

.modal-close {
  animation-name: closeModal;
}

.modal__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 7em;
  width: 100em;
  text-align: left;
  background-color: $background__light;
}

.modal__wrapper::-webkit-scrollbar { // Webkit
  display: none;
}

.modal__close {
  position: absolute;
  top: 70px;
  right: 80px;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: 4px solid $border__modal-btn;
  border-radius: 50%;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 7px;
    width: 18px;
    height: 2px;
    background-color: $background__dark;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 7px;
    width: 18px;
    height: 2px;
    background-color: $background__dark;
    transform: rotate(-45deg);
  }
}

.modal__title {
  font-size: 4.5em;
  font-weight: 900;
  line-height: 100%;
  color: $font-color__darkest;
}

.modal__list {
  margin: 0;
  padding: 0;
  padding-left: 2em;
}

.modal__item {
  margin-top: 2em;
  font-size: 2em;
  font-weight: 900;
}

.modal__highlight {
  margin-top: 2em;
  margin-bottom: 0;
}

.modal__content,
.modal__steps {
  margin: 0;
  font-weight: 300;
  line-height: 140%;
}

.modal__steps {
  margin-top: 25px;
}

.modal__logos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.modal__logo {
  width: 16em;
}

.modal__policy .modal__content {
  font-size: 2em;
}

.modal__policy .modal__content:not(:last-of-type) {
  margin-bottom: 2em;
}

.modal__payment-info .modal__highlight {
  margin-top: 0;
  font-size: 2em;
  font-weight: 900;
}

.modal__requisites {
  margin: 0;
  margin-top: 1em;
  padding: 0;
  font-size: 2em;
  list-style: none;
}

.modal__requisite:last-of-type {
  margin-top: 1em;
}

.modal__why-item {
  position: relative;
  width: 60%;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 100%;
  color: $font-color__darkest;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: calc(28em / 3.5);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.modal__why-item--1 {
  &::before {
    top: calc(-2em / 3.5);
    right: calc(-27em / 3.5);
    height: calc(33.8em / 3.5);
    background-image: url("../img/index__modal-reasons-item-1.jpg");
  }
}

.modal__why-item--2 {
  &::before {
    top: 0;
    left: calc(-37em / 3.5);
    width: calc(31em / 3.5);
    height: calc(35em / 3.5);
    background-image: url("../img/index__modal-reasons-item-2.jpg");
  }
}

.modal__why-item--3 {
  &::before {
    top: calc(-2em / 3.5);
    right: calc(-27em / 3.5);
    width: calc(29em / 3.5);
    height: calc(22em / 3.5);
    background-image: url("../img/index__modal-reasons-item-3.jpg");
  }
}

.modal__why-item--4 {
  &::before {
    top: 0;
    left: calc(-37em / 3.5);
    width: calc(31em / 3.5);
    height: calc(23.9em / 3.5);
    background-image: url("../img/index__modal-reasons-item-4.jpg");
  }
}

.modal__why-item--5 {
  &::before {
    top: calc(-2em / 3.5);
    right: calc(-30em / 3.5);
    width: calc(31em / 3.5);
    height: calc(24.8em / 3.5);
    background-image: url("../img/index__modal-reasons-item-5.jpg");
  }
}

.modal__why-item:not(:first-of-type) {
  margin-top: 3em;
}

.modal__why-item:nth-of-type(2n) {
  margin-left: auto;
  width: 60%;
}

.modal__why-item .modal__content {
  margin: 2em 0;
  font-size: calc(2em / 3.5);
}

.modal__competitions {
  font-size: calc(2em / 3.5);
  font-weight: 300;
}

.modal__content--last {
  position: relative;
  margin-top: 4em;
  margin-left: auto;
  width: 60%;
  font-size: 2em;

  &::before {
    content: "";
    position: absolute;
    top: calc(-5em / 2);
    left: calc(-30em / 2);
    width: calc(22em / 2);
    height: calc(15.6em / 2);
    background-image: url("../img/index__modal-reasons-final.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: $width__tablet-max) {
  .modal {
    font-size: 0.7rem;
  }
}

@media (max-width: $width__mobile-max) {
  .modal {
    font-size: 0.55rem;
  }

  .modal__wrapper {
    padding: 2em;
    width: 100% * 300 / 320;
  }

  .modal__close {
    top: 20px;
    right: 40px;
  }

  .modal__logos {
    display: flex;
    flex-wrap: wrap;
  }
}
