.search {
  padding-top: 2.6em;
}

.search__wrapper {
  margin: 0;
  padding: 5px;
  background-color: $background__dark;
}

.search__input {
  display: block;
  margin: 0;
  padding: 0.4em;
  font-family: $font-family__main;
  font-size: 1.1em;
  font-weight: 300;
  color: $font-color__dark;
  border: none;
}

@media (max-width: $width__mobile-max) {
  .search {
    display: flex;
    justify-content: center;
    padding-top: 0;
    width: 100%;
  }
}
