.post {
  padding: 3em 0;
  font-family: $font-family__main;
  font-style: 1rem;
}

.post > .container {
  display: flex;
}

.post__header {
  display: flex;
  flex-wrap: wrap;
}

.post__back {
  position: relative;
  display: block;
  padding-left: 2em;
  font-size: 1.8em;
  font-weight: 700;
  line-height: calc(2.5em / 1.8);
  color: $font-color__dark;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(2.5em / 1.8);
    height: calc(2.5em / 1.8);
    background-image: url("../img/scroll-top__bg.png");
    background-size: cover;
    transform: rotate(-90deg);
  }
}

.post__back:hover {
  opacity: 0.7;
}

.post__data {
  display: flex;
  margin: 0;
  margin-top: 3em;
  width: 50%;
}

.post__frame {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  border-radius: 5px;
  overflow: hidden;
}

.post__avatar {
  width: 100%;
}

.post__data figcaption {
  margin-left: 2em;
}

.post__author {
  display: block;
  font-size: 1.8em;
  line-height: normal;
  color: $font-color__dark;
}

.post__date {
  display: block;
  margin-top: 0.5em;
  font-size: 1.5em;
  color: $font-color__darker3;
}

.post__control {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.post__link {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.post__icon {
  position: absolute;
  top: -25px;
  left: -25px;
  fill: $background__dark;
  transition-duration: 0.3s;
}

.post__link--prev {
  margin-right: 4em;
}

.post__link--next {
  transform: rotate(180deg);
}

.post__link:hover .post__icon {
  background-color: $background__darker2;
  fill: $background__light;
}

.post__theme {
  display: block;
  margin-top: 0.5em;
  font-size: 1.2em;
  opacity: 0.5;
}

.post__wrapper {
  padding: 0 3em;
  width: calc(100% - 300px);
}

.post__promo {
  width: 300px;
  height: 800px;
}

.promo__adv {
  margin: 0;
  font-size: 2.5em;
  font-weight: 700;
}

.post__list.blogz__list {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2em;
}

.post__list .blogz__item {
  min-height: 20em;
  height: auto;
}

.post__list .blogz__link {
  min-height: 20em;
  height: auto;
}

.post__list .blogz__preview {
  display: none;
}

.post__content {
  margin-top: 3em;
}

.post__video {
  width: 100%;
  height: 35em;
}

@media (max-width: $width__tablet-max) {
  .post > .container {
    flex-direction: column;
  }

  .post__wrapper {
    padding: 0;
    width: 100%;
  }

  .post__back {
    margin-right: 20%;
  }

  .post__promo {
    margin-top: 5em;
    width: 100%;
    height: auto;
  }

  .post__list.blogz__list {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
  }

  .post__list .blogz__link {
    height: 100%;
  }
}

@media (max-width: $width__mobile-max) {
  .post {
    font-size: 0.8rem;
  }

  .post__control,
  .post__data {
    width: 100%;
  }

  .post__control {
    margin-top: 3em;
    justify-content: center;
  }
}
