.catalog {
  position: relative;
  font-family: $font-family__main;
  font-size: 1rem;
  padding-bottom: 5em;

  &::before {
    content: "";
    position: absolute;
    bottom: -31px;
    left: calc(50% - 475px);
    width: 951px;
    height: 31px;
    background-image: url("../img/catalog__shadow-bottom.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.catalog .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog__title {
  font-size: 3em;
  font-weight: 900;
  line-height: 100%;
  color: $font-color__darker3;
  text-align: center;
  text-transform: uppercase;
}

.catalog__city {
  display: block;
  margin: calc(3em / 3) 0;
  font-size: 3em;
  font-weight: 700;
  line-height: 100%;
  color: $font-color__highlight--dark;
  text-align: center;
}

.catalog__archieve {
  padding: 0 5em;
  font-size: 3.6em;
  font-weight: 900;
  line-height: 120%;
  text-align: center;
}

.catalog__archieve-btn {
  color: inherit;
}

@media (max-width: $width__tablet-max) {
  .catalog {
    font-size: 0.8rem;

    &::before {
      content: "";
      bottom: -20px;
      left: calc(50% - 384px);
      width: 768px;
      height: 20px;
    }
  }

  .catalog__archieve {
    padding: 0;
    font-size: 3.6em;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
  }
}

@media (max-width: $width__mobile-max) {
  .catalog {
    font-size: 0.7rem;

    &::before {
      content: "";
      bottom: -10px;
      left: calc(50% - 160px);
      width: 320px;
      height: 10px;
    }
  }
}
