.large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-family: $font-family__main;
  font-size: 1rem;
  list-style: none;
}

.large__item {
  position: relative;
  margin-bottom: 1em;
  width: 49.5em;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.15);
}

.large__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2em;
  height: 100%;
  transition-duration: 0.3s;
  overflow: hidden;
}

.large__link:hover {
  background-color: $background__catalog-hover;
  box-shadow: 0 0 10px 0 $shadow__dark;

  .large__frame::before {
    opacity: 0;
  }
}

.large__link:hover > * > * {
  color: $font-color__light;
  border-color: $border__light;
}

.large__link:hover .large__schedule {
  &::before {
    filter: invert(1);
  }
}

.large__format {
  position: absolute;
  top: 0.5em;
  left: 0;
  display: block;
  padding: 0.4em 0 0.4em 3em;
  width: calc(23em / 1.6);
  font-size: 1.6em;
  font-weight: 300;
  line-height: 130%;
  color: $font-color__darker2;
  background-color: $background__light-opacity;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.large__frame {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.15;
    transition-duration: 0.3s;
  }
}

.large__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.large__audience {
  margin-top: 0;
  max-width: 70%;
}

.large__schedule {
  width: 30%;
}

@media (max-width: $width__tablet-max) {
  .large {
    justify-content: space-around;
    font-size: 0.7rem;
  }

  .large__item {
    margin-right: 2px;
    margin-left: 2px;
  }

  .large__audience {
    max-width: 60%;
  }

  .large__schedule {
    width: 40%;
  }
}

@media (max-width: $width__mobile-max) {
  .large {
    font-size: 0.60608rem;
  }

  .large__item {
    margin-right: 0;
    margin-left: 0;
  }
}
