.small {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 5em;
  padding: 0;
  font-family: $font-family__main;
  font-size: 1rem;
  list-style: none;
}

.small__item {
  position: relative;
  margin-bottom: 1em;
  width: 33em;
  box-shadow: 0 0 20px 0 rgba(50, 50, 50, 0.15);
}

.small__item:not(:nth-of-type(3n)) {
  margin-right: 5px;
}

.small__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 2em;
  height: 100%;
}

.small__link:hover {
  background-color: $background__catalog-hover;
}

.small__link:hover > * > *:not(.course__location) {
  color: $font-color__light;
  border-color: $border__light;
}

.small__link:hover .small__schedule {
  &::before {
    filter: invert(1);
  }
}

.small__format {
  position: absolute;
  top: 0.5em;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0.4em 0.6em 0.4em 2em;
  width: calc(19em / 1.3);
  min-height: calc(4.25em / 1.3);
  font-size: 1.3em;
  font-weight: 300;
  line-height: 130%;
  color: $font-color__darker2;
  background-color: $background__light-opacity;
  border-top: 2px solid rgba(150, 150, 150, 0.1);
  border-right: 2px solid rgba(150, 150, 150, 0.1);
  border-bottom: 2px solid rgba(150, 150, 150, 0.1);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.small__frame {
  width: 100%;
  height: 206px;
  overflow: hidden;
}

.small__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.small__audience {
  margin-top: 0;
  width: 100%;
}

.small__schedule {
  margin-top: 1em;
  margin-left: 2em;
  font-size: 1.2rem;
}
