.calendar {
  margin-top: 13em;
  font-family: $font-family__main;
  font-size: 1rem;
}

.calendar__list {
  margin: 0;
  margin-top: 5em;
  padding: 0;
  list-style: none;
}

.calendar__item {
  margin-top: 2em;
  margin-bottom: 1em;
}

.calendar__item--hidden {
  display: none;
}

.calendar__month {
  display: block;
  padding: calc(0.8em / 2);
  font-size: 2em;
  font-weight: 900;
  line-height: normal;
  color: $font-color__light;
  text-transform: uppercase;
  background-color: $background__dark;
  border-radius: 5px;
}

.calendar__announces {
  margin: 0;
  margin-top: 2em;
  padding: 0;
  list-style: none;
}

@media (max-width: $width__mobile-max) {
  .calendar__month {
    margin: 0 auto;
    width: 300px;
  }
}
