@font-face {
  font-family: "Museo Sans";
  font-weight: 100;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/museosanscyrl_100-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_100-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/museosanscyrl_300-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_300-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 300;
  font-display: swap;
  font-style: italic;
  src:
    url("../fonts/museosanscyrl_300_italic-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_300_italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/museosanscyrl_500-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_500-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/museosanscyrl_700-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_700-webfont.woff") format("woff");
}

@font-face {
  font-family: "Museo Sans";
  font-weight: 900;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/museosanscyrl_900-webfont.woff2") format("woff2"),
    url("../fonts/museosanscyrl_900-webfont.woff") format("woff");
}

@font-face {
  font-family: "Ecoicon";
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  src:
    url("../fonts/ecoicon.woff2") format("woff2"),
    url("../fonts/ecoicon.woff") format("woff");
}
