$width__desktop: 1140px;
$width__tablet-max: 1139px;
$width__tablet: 768px;
$width__mobile-max: 767px;
$width__mobile: 320px;

$font-family__main: "Museo Sans", "Arial", sans-serif;

$font-color__dark: rgb(1, 104, 105);
$font-color__darkest: rgb(0, 0, 0);
$font-color__light: rgb(255, 255, 255);

$background__dark: rgb(1, 104, 105);
$background__light: rgb(255, 255, 255);

$border__light: rgb(255, 255, 255);

$icon__light: rgb(255, 255, 255);
